.u-fill {
  @each $color-name, $color in $colors {
    &--#{$color-name} {
      background-color: $color;
    }
  }
  @include bp-sm {
    &--ctas {
      background: linear-gradient(to right, $color-almond 50%, lighten($color-almond, 15% ) 0);
    }
  }
  @include bp-md() {
    &--sidebar {
      background: linear-gradient(to right, $color-gray-light cp(755, 1920), $color-white 0);
    }
  }
}
