/* Breakpoints
   ========================================================================== */

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$breakpoint-xs-min: $breakpoint-xs;
$breakpoint-xs-max: $breakpoint-sm - 1px;

$breakpoint-sm-min: $breakpoint-sm;
$breakpoint-sm-max: $breakpoint-md - 1px;

$breakpoint-md-min: $breakpoint-md;
$breakpoint-md-max: $breakpoint-lg - 1px;

$breakpoint-lg-min: $breakpoint-lg;
$breakpoint-lg-max: $breakpoint-xl - 1px;

$breakpoint-xl-min: $breakpoint-xl;
$breakpoint-xl-max: 10000px;

$breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl
) !default;
