/* Colors
   ========================================================================== */

$colors: ()!default;
$color-white: #ffffff;
$color-black: #1b1b1b;


$color-red: #ca132c;
$color-almond: #db9f70;
$color-gray: #b1b1b9;
$color-gray-light: #f2f2f2;
$color-blue: #464a6c;

$color-pale-gray: #e7e7ea;
$color-pale-almond: #f4e2d4;
$color-pale-blue: #c7c8d3;

$color-primary: $color-black;

// Links
$color-link: $color-black;
$color-hover: $color-blue;
$color-bg: $color-white;
$color-text: $color-black;
$default-color: $color-white;
$color-border: $color-black;

$colors: (
  white: $color-white,
  black: $color-black,
  red: $color-red,
  almond: $color-almond,
  gray: $color-gray,
  gray-light: $color-gray-light,
  blue: $color-blue,
  pale-gray: $color-pale-gray,
  pale-almond: $color-pale-almond,
  primary: $color-primary,
);
