/**
 * Converts Photoshop's letter spacing value to em
 *
 * @returns em
 */

@function letterSpacing ($photoshop-value: 20) {
  @return $photoshop-value / 1000 * 1em;
}

/**
 * Calculates the proportion of a font size to the breakpoint size that font resizing will start
 *
 * @returns proportion
 */

@function getProportion ($dividend, $divisor) {
  @return $dividend / $divisor;
}

@function calc-percent($target, $context) {
  @return ($target / $context) * 100%;
}

@function cp($target, $context) {
  @return calc-percent($target, $context);
}

@function em($pixels, $context: 16) {
  @return #{$pixels/$context}em;
}

@function rem($pixels, $context: 16) {
  @return #{$pixels/$context}rem;
}
