///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 55px !default;
$global-transition: all 300ms ease-in-out !default;
$global-transition-time: 400ms;
$global-transition-easing:  ease-out;

/* Fonts
   ========================================================================== */


$global-border-radius: 60px;
