/**
 * Module: Type
 *
 * @author: Konstantinos Kataras
 */

@import '../tools/breakpoints';

$font-families: ()!default;
$font-weights: ()!default;
$font-family: 'PT Sans', sans-serif;
$font-family-condensed: 'Asap Condensed', sans-serif;

$font-weights: (
  //light: 300,
  normal: 400,
  //medium: 500,
  //semibold: 600,
  bold: 700
);

.type {
  -ms-word-break: break-word;
  font-style: normal;
  font-stretch: normal;

  &--fs72 {
    font-size: rem(36);
    @include bp-md {
      font-size: rem(72);
    }
  }
  &--fs42 {
    font-size: rem(42) !important;
  }
  &--fs36 {
    font-size: rem(36) !important;
  }
  &--fs30{
    font-size: rem(30) !important;
  }
  &--fs20 {
    font-size: rem(20) !important;
  }
  &--fs15 {
    font-size: rem(15) !important;
  }
  // alignment
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  &--center {
    text-align: center;
  }
  &--justify {
    text-align: justify;
  }

  &--spaced {

  }

  &--one-line {
    white-space: nowrap;
  }
  &--underlined {
    text-decoration: underline;
  }
  &--nodeco {
    text-decoration: none;
  }

  @each $color-name, $color in $colors {
    &--#{$color-name} {
      color: $color !important;
    }
  }

  @each $font-family-name, $font-family in $font-families {
    &--#{$font-family-name} {
      font-family: $font-family, sans-serif !important;
    }
  }

  @each $font-weight-name, $font-weight in $font-weights {
    &--#{$font-weight-name} {
      font-weight: $font-weight !important;
    }
  }

}
