.l-nav {
  display: flex;
  flex-direction: column;
  @include bp-md {
    height: 80px;
    &__menu {
      display: flex;
      flex: 7;
    }
    &__search {
      flex: 3;
    }
  }
  @include bp-md {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    &__search {
      display: flex;
      align-content: right;
      align-items: right;
      justify-content: flex-end;
    }
  }
}
